.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: #EE4FA4;
    font-size: 2rem;
}